<!-- Navbar with Dropdown Structure -->
<nav>
    <div class="nav-wrapper teal">
        <a href="/" class="brand-logo center">Fit Levin Training</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a id="logoutBtn" href="/logout">Logout</a></li>
            <li><a id="addclient" href="../add-client">Add Client</a></li>
            <li><a class='seed-users' href="#">Seed Users</a></li>
            <li><a class='seed-clients' href="#">Seed Clients</a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul class="sidenav" id="mobile-demo">
            <li><a id="logoutBtn" href="/logout">Logout</a></li>
            <li><a id="addclient" href="../add-client">Add Client</a></li>
            <li><a class='seed-users' href="/admin">Seed Users</a></li>
            <li><a class='seed-clients' href="#">Seed Clients</a></li>
        </ul>
    </div>
</nav>