<!-- Navbar with Dropdown Structure -->
<nav>
    <div class="nav-wrapper teal">
        <a href="#!" class="brand-logo center">Fit Levin Training</a>
        <ul class="right">
            <li id="logout">Logout</li> <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#" data-target="dropdown1">More<i
                        class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a id="addclient" href="../add-client">Add Client</a></li>
            <li><a class='seed-users' href="#">Seed Users</a></li>
            <li class="divider"></li>
            <li><a class='seed-clients' href="#">Seed Clients</a></li>
        </ul>
    </div>
</nav>