<!-- Navbar for non logged in user -->
<nav>
    <div class="nav-wrapper teal">
        <a href="/" class="brand-logo center">Fit Levin Training</a>
        <!-- Dropdown Structure -->
    </div>
</nav>