<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Implement Jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Implement Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- Proprietary Style sheet --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    {{!-- Proprietary script file  --}}
    <script src="/assets/js/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>PT Client Portal</title>
</head>

<body>

    <!-- Navbar with Dropdown Structure -->
    <nav>
        <div class="nav-wrapper teal">
            <a href="#!" class="brand-logo center">Fit Levin Training</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Logout</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#" data-target="dropdown1">More<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a id="addclient" href="../add-client">Add Client</a></li>
                <li><a id='seed-users' href="#">Seed Users</a></li>
                <li class="divider"></li>
                <li><a id='seed-clients' href="#">Seed Clients</a></li>
            </ul>
        </div>
    </nav>
    {{{ body }}}
    </script>
</body>

</html>