<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Implement Jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Implement Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- Proprietary Style sheet --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    {{!-- Proprietary script file  --}}
    <script src="/assets/js/script.js"></script>
    <title>PT Client Portal</title>
</head>

<body>
    {{!-- create a stylized header --}}
    {{{ body }}}
</body>

</html>