{{!-- image placeholder of client --}}

{{!-- Should display most of the following:
First name
Last name
Email
Password
Age
Gender
Weight
Height
Phone number
Goals
Injuries
Medical conditions
Diet
History
Working Notes (Brian notes of sessions)
Plan type
 --}}

<p id="age">{{age}}</p>
<p id="gender"></p>
<p id="weight"></p>
<p id="height"></p>